/* styles.css */

/* Container */
.container {
    margin: auto;
    width: 80%;
}

/* Table Styling */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Arial', sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #6B7280;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #6B7280;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #6B7280;
}

/* Pagination Styling */
.pagination {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.pagination select, .pagination input {
    padding: 5px;
    font-size: 1em;
}

.pagination a {
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #6B7280;
    border: 1px solid #dddddd;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #6B7280;
    color: white;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

.status-open {
    background-color: #3B82F6;
}

.status-paid {
    background-color: #22C55E;
}

.status-inactive {
    background-color: #9CA3AF;
}
